# Dependencies
node_modules/

# Environment variables & API keys
.env
config.json

# Local database / data files
database.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System files
.DS_Store
Thumbs.db
